// 颜色
$bg-color-1: #ffffff;
$bg-color-2: #fbcc3e;

$text-color-1: #187747;
$text-color-2: #333;
$text-color-3: #5084dd;
$text-color-4: #fff8ff;

// 尺寸
$font-xxs: 16rpx;
$font-xs: 20rpx;
$font-s: 24rpx;
$font-m: 28rpx;
$font-l: 32rpx;
$font-xl: 36rpx;
$font-xxl: 40rpx;